/*==============================
 *    Body
 *    ================================ */
 /* https://www.pexels.com/photo/computer-desk-laptop-stethoscope-48604/ 
 */
 body {
  background-image: url(./images/patientloginbg2.jpg),linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)); 
  background-blend-mode: luminosity;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }

 /*==============================
 *   Header
 *    ================================ */
 /* This css property below nav a is not found in CosmosMockUpPatientPortal. */
 nav a {
   max-width: 15%;
   height: auto;
 }
 nav img {
   max-width: 100%;
   height: auto;
 }

 /*==============================
 *   Login Form
 *    ================================ */
.butn {
  background: #577994;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 20px;
  padding: 16px 32px;
  border-radius: 3px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -webkit-transition: all linear 300ms;
  transition: all linear 300ms;
  border: none;
  text-align: center; }
  .butn:hover, .butn:active {
    color: #fff;
    background: #1e2022; }

a.butn:hover, a.butn:active, a.butn:focus {
  color: #fff;
  background: #1e2022; }

.butn:focus {
  color: #fff; }

  .cosmosDarkBlue{
    color: #577994
  }
  .smallLink{
    text-decoration: none;
    color: #577994 ;
    font-size: 80%;
    -webkit-transition: all linear 300ms;
  transition: all linear 300ms;
  }
  .smallLink:hover{
    text-decoration: none;
    color: black ;
  }
  .forgotPasswordExplanation{
    font-size: 14px;
    color: #577994;
  }
  .form-control:focus{
    border-color: #577994;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(87, 121, 148, 0.6);
  }
  #cosmosBlueText{
    color: #577994;
  }
   /*==============================
 *   Footer
 *    ================================ */
  .footer-bar {
    float: left;
    width: 100%;
    padding: 20px 20px 20px 20px;
    color: #fdfefe;
  }  
  

@media screen and (max-width: 991px) {
  .butn {
    padding: 14px 28px;
    font-size: 13px; }
@media screen and (max-width: 767px) {
  .butn {
    padding: 12px 24px; }

  .xs-letter-spacing-2 {
    letter-spacing: 2px; } }
  }